.card {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 30px;
}

.card p {
    padding: 0;
    margin: 0;
}

.card--img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.card--info {
    padding: 20px 25px
}

.map--marker {
    color: red;
    margin-right: 5px;
}

.location--info {
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1.5px;
    color: #2B283A;
}
.small--text {
    color: grey;
    text-decoration: underline;
}

.tour--date {
    font-weight: bold;
    margin-bottom: 10px;
}

.location--description {
    color: #2B283A;
    width: 40vw;
}

/* .location--name{
    padding-bottom: 10px;
} */
